@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    outline: solid rgb(123, 10, 10) 5px;
}

.hero, .footer {
    background-color: #1F2937;
}

.hero {
    color: white;
    padding-bottom: 70px;
}



body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    margin: 0;
    /*min-height: 100vh;*/
}

.header {
    display: flex;
    
    
}

.left-header {
   flex: 1;
    padding: 8px;
    margin: 10px 8px 8px 170px;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.right-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 18px;
    padding: 8px;
    margin: 10px 210px 8px 8px;
    font-weight: lighter;
}

.parent-hero {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.hero-text {
    font-size: 17.5px;
    font-weight: lighter;
    width: 430px;
    margin-top: -25px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    
}

.left-hero {
    max-width: 400px;
    margin: 80px 30px;

}

.right-hero {
    background-color: rgb(121, 132, 140);
    width: 530px;
    height: 230px;
    margin: 100px 30px 80px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-one {
    background-color: #3882f6;
    color: white;
    padding: 6px 30px;
    font-size: 18px;
    border-radius: 8px;
    border: 0;
}


.quote {
    background-color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
  }